// Colors
$black: #50514F;
$red: #F25F5C;
$yellow: #FFE066;
$blue: #247BA0;
$green: #70C1B3;

// Variables
$progress--circle--background: $blue !default;
$progress--circle--color: $green !default;
$progress--circle--color-warning: #fd8603 !default;
$progress--circle--color-danger: $red !default;
$progress--circle--size: 120px !default;
$progress--transition--length: 1s !default;
$progress--inset--size: 85px !default;
$progress--inset--color: #fff !default;
$progress--inset--border: none !default;
$progress--increment: 180deg/100 !default;
$progress--portrait--size: $progress--inset--size !default;
$progress--portrait--ico--size: 65px !default;
$progress--label--height: 11px !default;
$progress--label--space: 3px !default;
$progress--label--background: rgba(0, 0, 0, 0.7) !default;
$progress--label--color: #fff !default;
$progress--disabled--bg-color: lightgrey !default;
$progress--disabled--color: grey !default;
$progress--special--shadow: 0 0 2px $red !default;
$progress--special--width: 80px !default;

.radial-progress {
  background-color: $progress--circle--background;
  border-radius: 50%;
  width: $progress--circle--size;
  height: $progress--circle--size;
  cursor: pointer;
  margin-right: 30px;
  transition: transform 0.3s ease-in-out;

  transform: scale(0.7);

  &.selected {
    transform: scale(0.8);

    .initial {
      background-color: rgba(0,0,255,0.3);
    }
  }

  &:hover {
    transform: scale(0.9);
  }

  @for $progress--i from 0 to 100 {
    &[data-progress="$(progress--i)"] {
      .mask.full, .fill {
        transform: rotate(calc($progress--increment * $progress--i));
      }
      .fill.fix {
        transform: rotate(calc($progress--increment * $progress--i * 2));
      }

      @if $progress--i > 95 {
        .fill, .label2 {
          background-color: $progress--circle--color-danger;
        }
      } @else {
        @if $progress--i > 75 {
          .fill, .label2 {
            background-color: $progress--circle--color-warning;
          }
        } @else {
          .fill, .label2 {
            background-color: $progress--circle--color;
          }
        }
      }
    }
  }

  &.holiday {
    cursor: not-allowed;
    .fill, .label2 {
      background-color: $progress--disabled--bg-color;
      color: $progress--disabled--color;
    }
    .label-special {
      position: absolute;
      color: $progress--circle--color-danger;
      text-align: center;
      margin-left: calc((cos(45deg) * $progress--special--width)/2 - $progress--label--space);
      margin-top: calc((sin(45deg) * $progress--special--width) - $progress--label--space);
      z-index: 2;
      span {
        box-shadow: $progress--special--shadow;
        display: block;
        filter: alpha(opacity=70);
        font-weight: bold;
        opacity: 0.7;
        text-shadow: $progress--special--shadow;
        transform: rotate(45deg);
        width: $progress--special--width;
      }
    }
  }
}

.mask, .fill {
  border-radius: 50%;
  position: absolute;
  height: $progress--circle--size;
  width: $progress--circle--size;
  transition: all $progress--transition--length;
}

.mask {
  /* rect(<top>, <right>, <bottom>, <left>) */
  clip: rect(calc($progress--circle--size/2), $progress--circle--size, $progress--circle--size, 0px);
  .fill {
    /* rect(<top>, <right>, <bottom>, <left>) */
    clip: rect(0px, $progress--circle--size, calc($progress--circle--size/2), 0px)
  }
}

.badge {
  position: absolute;
  width: calc($progress--circle--size/2);
  height: 10px;
  margin-top: calc($progress--circle--size/3);
  margin-left: 0;
}

.shadow {
  width: $progress--circle--size;
  height: $progress--circle--size;
  position: absolute;
  border-radius: 50%;
}

.inset-head {
  width: $progress--circle--size;
  height: calc($progress--circle--size/2);
  position: absolute;
  background-color: $progress--inset--color;
}

.inset {
  width: $progress--inset--size;
  height: $progress--inset--size;
  position: absolute;
  margin-left: calc(($progress--circle--size - $progress--inset--size)/2);
  margin-top: calc(($progress--circle--size - $progress--inset--size)/2);
  background-color: $progress--inset--color;
  border-radius: 50%;
  overflow: hidden;
  border: $progress--inset--border;
  z-index: 1;
}

.portrait, .initial {
  position: absolute;
  font-size: $progress--portrait--ico--size;
  width: $progress--portrait--size;
  height: $progress--portrait--size;
  margin-top: calc(($progress--inset--size - $progress--portrait--size) / 2);
  margin-left: calc(($progress--inset--size - $progress--portrait--size) / 2);
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.initial {
  z-index: 3;
  background: none;
  max-width: $progress--portrait--size;
  opacity: 0.6;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: $progress--portrait--size;
  transition: background-color 0.3s;
}

.portrait {
  padding-top: calc(($progress--portrait--size - $progress--portrait--ico--size) / 4);
  z-index: 2;
  img {
    margin-top: calc(-1px - ($progress--portrait--size - $progress--portrait--ico--size) / 4);
    margin-bottom: -1px;
    width: calc($progress--inset--size + 1px);
    height: calc($progress--inset--size + 1px);
  }
}
.label, .label2 {
  background-color: $progress--label--background;
  color: $progress--label--color;
  font-size: $progress--label--height;
  font-weight: bold;
  position: absolute;
}
.label {
  margin-top: calc(($progress--circle--size - $progress--inset--size)/2);
  margin-left: calc($progress--circle--size/2);
  padding: $progress--label--space 5px $progress--label--space calc($progress--inset--size/2);
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.label2 {
  margin-top: calc(($progress--circle--size - $progress--inset--size)/2 + ($progress--label--height + 2*$progress--label--space) + $progress--label--space);
  margin-left: calc($progress--circle--size/2);
  padding: $progress--label--space $progress--label--space $progress--label--space calc($progress--inset--size/2 + $progress--label--space);
  transition: background-color $progress--transition--length;
  width: 100px;
}
