:global(*) {
  box-sizing: border-box;
}

.weeklyCalendar {
  margin: 25px 10px;
  border: 1px solid #dddddd;
  user-select: none;
}

.day {
  display: flex;
  align-items: stretch;
}

.head {
  flex: 10%;
  padding: 1em;
  font-size: 0.9em;
}

.hours {
  flex: 90%;
  display: flex;
}

.hour {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  flex: 1;
  text-align: center;
  border-left: 1px solid #dddddd;
  margin-left: -1px;
  vertical-align: middle;

  &:hover:not(.closed) {
    background-color: rgb(207, 210, 255);
    cursor: pointer;
  }
}

.closed {
  background-color: #dddddd;
}

.label {
  font-size: 0.8em;
  padding: 5px;
  color: #8e8c8c;
  overflow-x: hidden;
}

.selected {
  background-color: rgb(207, 210, 255);
}
